body {
  text-align: center;
}

.color {
  border: 1px solid black;
  display: inline-block;
  width: 5vw;
  height: 5vw;
}

#black {
  background-color: black;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#magenta {
  background-color: magenta;
}

.pixel {
  width: 5vw;
  height: 5vw;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
}

#clear-board {
  margin: 10px auto;
  background-color: rgb(238, 56, 56);
  color: white;
}

#board-size {
  width: 10vw;
}