* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

header {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

#title, #logo {
  font-size: 8vw;
  padding: 0 5px;
}
/* ----------------------- */

#color-section {
  
}

#sub-title, #color-palette {
  padding: 2.5px 0;
  font-size: 5vw;
  font-style: italic;
}

.color {
  border: 1px solid black;
  display: inline-block;
  width: 8.5vw;
  height: 8.5vw;
}

#black {background-color: black;}
#blue {background-color: blue;}
#green {background-color: green;}
#magenta {background-color: magenta;}
/* ------------------------ */

.pixel {
  width: 5vw;
  height: 5vw;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
}

#clear-board {
  margin: 10px auto;
  background-color: rgb(238, 56, 56);
  color: white;
}

#board-size {
  width: 10vw;
}